<div class="web-layout">
  <div class="code-layout">
    <app-tab-ribbon [tabs]="fileTabs" target="code-editor" closable=1></app-tab-ribbon>
    <app-ace-editor id="code-editor" class="code-editor" contenteditable="true">integrate ace here</app-ace-editor>
  </div>
  <div class="menu-layout">
    <app-menu-ribbon class="menu-ribbon"></app-menu-ribbon>
    <app-tab-ribbon [tabs]="projectTabs" target="menu-panel"></app-tab-ribbon>
    <app-panel-holder id="menu-panel" class="code-editor" [template]="TabRibbonComponent"></app-panel-holder>
  </div>
</div>