.web-layout {
    height: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
}

.code-layout {
    height: 100%;
    display: grid;
    grid-template-rows: 25px 1fr;

}

.menu-layout {
    height: 100%;
    display: grid;
    grid-template-rows: 50px 25px 1fr;
}
