.web-layout {
    height: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-column-gap: 5px;
}

.code-layout {
    height: 100%;
    display: grid;
    grid-template-rows: 50px 1fr;
}

.menu-layout {
    height: 100%;
    display: grid;
    grid-template-rows: 50px 25px 1fr;
}

.code-editor {
    padding: 5px;
    outline: 0px solid transparent;
    background-color: whitesmoke;
}
