.ui-terminal {
  height: 80%;
  overflow: auto;
  padding: 0.25em;
}

.ui-terminal-input {
  border: 0 none;
  background-color: transparent;
  color: inherit;
  padding: 0;
  margin: 0 0 0 0.125em;
  width: 75%;
  outline: none;
  vertical-align: baseline;
  word-break: break-word;
}

.ui-terminal-command {
  margin-left: 0.125em;
  -moz-margin-start: 0.125em;
}

.ui-terminal-input::-ms-clear {
  display: none;
}
