.settings {
  margin: 10px;
  padding: 10px;
  background-color: white;
  height: 100%;
  text-align: center;
}

.panel-title {
  font-size: 25px;
}

.settings-holder {
  margin: 0 auto;
  padding: 30px;
  text-align: left;
  overflow-y: scroll;
  height: 80%;
}

.property-label {
  margin-right: 30px;
}

.setting-wrapper {
  margin: 20px;
}

.white {
  background-color: white;
  color: black;
}

.black {
  background-color: black;
  color: white;
}

.black > label {
  background-color: black;
  color: white;
}