.settings {
  background-color: white;
  height: 100%;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, .12);
}

.settings-holder {
  margin: 0 auto;
  padding: 30px;
  text-align: left;
  height: 80%;
}

.property-label {
  margin-right: 30px;
}

.setting-wrapper {
  margin: 20px;
}