.container {
    display: grid;
    grid-template-columns: 60% 40%;
    height: 100%;
}

.photo {
    width: 100%;
    height: 100%
}

.panel {
    background-color: #F1F1F1;
    height: 100%;
    text-align: center;
}

.panel-content {
    margin: 0 auto;
    margin-top: 20vh;
    width: 100%;
}

.panel-logo {
    margin: 40px;
}

.panel-center {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, .12);
}

.footer {
    width: 37vw;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
}