<div class="container">
  <div class="login-photo photo">
  </div>
  <div class="panel">
    <div class="panel-content">
      <div class="panel-center">
        <div class="panel-logo">
          <img class="photo" src="../../assets/logo.png">
        </div>
        <div>
          <p-button (click)="signInWithGoogle()" icon="pi pi-user-plus" iconPos="left" label="Sign In With Google">
          </p-button>
        </div>
      </div>
      <div class="footer">
        <p>Created by Alex Bișag @ BUES, 2019</p>
        <a href="https://github.com/axbg" target="_blank" class="contact-point">
          <img src="../../assets/gb.png">
        </a>
      </div>
    </div>
  </div>
</div>

<ngx-spinner bdOpacity=0.9 bdColor="#333" size="large" color="#fff" type="triangle-skew-spin" fullScreen="true">
  <p style="color: white"> Compiling... </p>
</ngx-spinner>