/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  background-color: whitesmoke;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ui-tabview-panels {
  display: none;
}

.ui-tabview-nav,
.ui-menubar-root-list {
  display: grid !important;
}

.ui-state-default,
.ui-menuitem {
  text-align: center;
  width: 1fr !important;
  grid-row: 1;
}

.ui-menuitem :hover{
  background-color: #989898 !important;
}

.ui-menubar:after {
  content: none !important;
}

.ui-tabview-close {
  float: right;
  margin: 10px 0.5em 0 0 !important;
}

li[role="presentation"] {
  cursor: pointer;
}

.ui-slider-handle {
  cursor: pointer !important;
}

.ace_gutter-cell {
  cursor: pointer;
}

.breakpoint {
  background-image: url("./assets/breakpoint.png");
  background-position: left;
  background-repeat: no-repeat;
}

.margin {
  margin-right: 20px;
  font-size: 1.5em;
  user-select: none;
}

.clickable {
  cursor: pointer;
}

.node-menu-content {
  font-size: 15px;
}

.node-name {
  cursor: pointer;
}
