/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

/* tab-view primeng component styling */
.ui-tabview-panels {
    display: none;
}

.ui-tabview-nav, .ui-menubar-root-list {
    display: grid !important;
}

.ui-state-default, .ui-menuitem {
    text-align: center;
    width: 1fr !important;
    grid-row: 1;
}

.ui-menubar:after{
    content: none !important;
}

.ui-tabview-close {
    float: right;
    margin: 10px 0.5em 0 0 !important; 
}