:root {
  --button-unsaved-color: #B71C1C;
  --button-unsaved-hover: #801313;
  --label-black: #282A36;
  --label-white: white;
  --label-disabled: #666666;
  --label-border: #999999;
  --panel-border: rgba(0, 0, 0, .12);
  --layout-border: rgba(255, 255, 255, .25);
  --inside-border: #c8c8c8;
  --button-hover: #989898;
  --shortcut-gray:  #e2e2e2;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

.ui-tabview-panels {
  display: none;
}

.ui-tabview-nav, .ui-menubar-root-list {
  display: grid !important;
}

.ui-state-default, .ui-menuitem {
  text-align: center;
  width: 1fr !important;
  grid-row: 1;
}

.ui-menubar:after {
  content: none !important;
}

.ui-tabview-close {
  float: right;
  margin: 10px 0.5em 0 0 !important;
}

li[role="presentation"] {
  cursor: pointer;
}

.ui-slider-handle {
  cursor: pointer !important;
}

.ace_gutter-cell {
  cursor: pointer;
}

.breakpoint {
  background-image: url("./assets/breakpoint.png");
  background-position: left;
  background-repeat: no-repeat;
}

.margin {
  margin-right: 20px;
  font-size: 1.5em;
  user-select: none;
}

.clickable {
  cursor: pointer;
}

.node-menu-content {
  font-size: 15px;
}

.node-name {
  cursor: pointer;
}

.login-photo {
  background-image: url("./assets/login-back.jpg");
  background-size: cover;
}

.bgblacklayout {
  background-color: #2D2D2D !important;
  border: 1px solid var(--layout-border) !important;
}

.bgblack {
  background-color: #141414 !important;
  color: var(--label-white) !important;
  border: 1px solid var(--layout-border) !important;
}

.panel-title {
  font-size: 25px;
}